<!DOCTYPE html>
<html>
  <head>
    <title><%= brand_title %> Games</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div id='container'>
      <header>
        <%= link_to root_path, class: "brand" do %>
          <div class='brand-name'><%= brand_title %></div>
        <% end %>
        <nav>
          <%= link_to "Games", root_path %>
          <%= link_to "Players", players_path %>
          <%= link_to "New Game", new_game_path, class: "btn btn-primary" %>
        </nav>
      </header>
      <div id='main'>
        <%= yield %>
      </div>
    </div>
    <% if brand_title != "Elovation" %>
      <div class="footer">Powered by Elovation</div>
    <% end %>
  </body>
</html>
